<div class="col-md-18">
<div class="col-md-8 col-md-offset-4">

<h2><b>Log in</b></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<h4>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
</h4>

<h4>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
</h4>

  <% if devise_mapping.rememberable? -%> 
    <h4>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
   </div>
   </h4>
  <% end -%>

<h4>
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
  </h4>
<% end %>

<%= render "users/shared/links" %>
