  <h4>
  <div class="field">
    <strong>Bidding_price:</strong>
    <%= bid.bidding_price %>
    </div>
    </h4>
    <h4>
    <div class="field">
    <strong>Bidder:</strong>
    <%= bid.user.name %>
  </div>
  </h4>

----------------------
