<p id="notice"><%= notice %></p>

<br>
<span style="text-decoration: underline;" "align: center;><strong> Running price:-</span></strong> $<% @bprice = Bid.group('product_id').maximum(:bidding_price)[@product.id] %><% if @bprice %><%= @bprice %><% else %><%= @product.initial_price %><% end %>
  <br>

<h4><p>
  <strong>Bidding price:</strong>
  <%= @bid.bidding_price %>
</p>

<p>
  <strong>User:</strong>
  <%= @bid.user_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @bid.product_id %>
</p></h4>

<%=(link_to 'Edit', edit_bid_path(@bid), class: "btn btn-info") %> |
<%=(link_to 'Back', bids_path, class: "btn btn-info") %>
