<div class="col-md-18">
<div class="col-md-8 col-md-offset-4">
<div>
<%= image_tag("pro.jpg", :alt => "Sample App", :class => "round",:width =>"300",:height=> "200", :align=>"right" ,class:"blink_me") %>
<h2><strong>Your Profile!!</strong></h2>

<%= image_tag(current_user.avatar.url(:medium)) %>

<h3><strong>Name:</strong>
<%= @user.name%><br></h3>

<h3><strong>Email:</strong>
<%= @user.email %><br></h3>

<h3><strong>Contact No:</strong>
<%= @user.contact_no %><br></h3>

<h3><strong>Cnic No/Passport No:</strong>
<%= @user.cnic_no %><br></h3>

<h3><strong>City:</strong>
<%= @user.city.name %><br></h3>

<h3><strong>Address:</strong>
<%= @user.address %><br></h3>

<br>
</p>
</div>
