<%= form_for(@wish_item) do |f| %>
  <% if @wish_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wish_item.errors.count, "error") %> prohibited this wish_item from being saved:</h2>

      <ul>
      <% @wish_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :wishlist_id %><br>
    <%= f.number_field :wishlist_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
