<h1>ABOUT US!! </h1>
<p><h4>
<body align="center">
<br>
<br>
Back in the late 1990's, the internet was starting to become mainstream. It wasn't common for small businesses or individuals to have their own website. Very few people had the technical knowledge required to build websites and the cost was prohibitive. Having your own website was more of a novelty than anything else.
<br>

But the writing was on the wall for us and we could see the future, clear as day. Everybody was going to want their own website eventually. So learning how to build sites was a no-brainer.
<br>

Skip ahead a couple of years and that prediction was coming true. However, a few problems were becoming apparent. As a small business ourselves, there was going to be a limit on the number of websites we could directly manage and maintain for clients. The going rate for having a site made was steadily going up and pricing more businesses out of ever getting one. Something had to be done to make it easier to get a website.
<br>

Then there comes the best of best programming language Ruby and framework Rails which makes the beginner as well as the sharp end developers
to assemble the effort and make most the effort to evolve with some magnifiscent stuff.
</h4>
</p>

</body>
