<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 50%;
      margin: auto;
  }
  </style>
</head>
<body>

<span style="text-align:center"background-color:Aquamarine" class="blink_me">  <h2> <mark><img src="prog.gif", style="width: 50px; height: 50px;" %>Seasonal offers!! Get 50% off on each product!</mark></h2></span>
  <br>
 <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img <%= image_tag "tvr.jpeg" %>
             </div>

            <div class="item">
            <img <%= image_tag "lappy.png" %>
            </div>


     <div class="item">
        <img <%= image_tag "camr.jpeg" %>
      </div>

    <div class="item">
        <img <%= image_tag "clr.jpeg" %>
      </div>


    <div class="item">
        <img <%= image_tag "sofa.jpeg" %>
      </div>
<div class="item">
        <img <%= image_tag "tabr.jpeg" %>
      </div>

       </div>


    <!-- Left and right controls -->

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</body>
</nav>
</div>
<style>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
    @import url(https://fonts.googleapis.com/css?family=Bree+Serif);
  body {
        background:#ebebeb;
      }
      ul {
          padding:0 0 0 0;
          margin:0 0 40px 0;
      }
      ul li {
          list-style:none;
          margin-bottom:10px;
      }
      ul li img {
          cursor: pointer;
      }
      .modal-body {
          padding:5px !important;
      }
      .modal-content {
          border-radius:0;
      }
      .modal-dialog img {
          text-align:center;
          margin:0 auto;
      }
    .controls{
        width:50px;
        display:block;
        font-size:11px;
        padding-top:8px;
        font-weight:bold;
    }
    .next {
        float:right;
        text-align:right;
    }
    .text {
      font-family: 'Bree Serif';
      color:#666;
      font-size:11px;
      margin-bottom:10px;
      padding:12px;
      background:#fff;
    }
      /*override modal for demo only*/
      .modal-dialog {
          max-width:500px;
      }
      @media screen and (min-width: 768px){
          .modal-dialog {
              width:500px;
          }
      }
      @media screen and (max-width: 380px){
         .col-xxs-12 {
           width:100%;
         }
         .col-xxs-12 img {
           width:100%;
         }
      }
  </style>
</body>
</nav>
<div class="container">

    <div class="filler"></div>
  </div>
</div>
</style>
   <ul>

<div class="container">
<div class="row" style="text-align:center; border-bottom:1px dashed #ccc;  padding:0 0 20px 0; margin-bottom:40px;">
<h3 style="font-family:'Bree Serif', arial; font-weight:bold; font-size:30px;">
                <a style="text-decoration:none; color:#666;" href="http://michaelsoriano.com/create-a-responsive-photo-gallery-with-bootstrap-framework/"><span style="color:red;"></span></a>
            </h3>


    <ul class="row">
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
       <img class="img-responsive" <%= image_tag "braslet.jpg" %>
       <div class="text">stylish blue and black braslets for girls and boys<br><b>price:200 PKR</b></br><br><%= link_to('Bid now',products_path, class: "btn btn-warning") %></br></div>
</li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
        <img class="img-responsive" <%= image_tag "hoddy.JPG" %>
       <div class="text">stylish hoddies <br><b>price:1100 PKR each</b></br><br><%= link_to('Bid now',products_path, class: "btn btn-warning") %></br> </div>
  </li>
        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
       <img class="img-responsive" <%= image_tag "sliper.jpeg" %>
       <div class="text">stylish black casual slipper<br><b>price:1500 PKR</b></br><br><%= link_to('Bid now',products_path, class: "btn btn-warning") %></br></div>
 </li>

 <li class="clearfix visible-xs-block"></li>


        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
       <img class="img-responsive" <%= image_tag "index.jpeg" %>
       <div class="text">daimond neckless with pearls aligent style suitable for all womens <br><b>price:5000 PKR</b></br><br><%= link_to('Bid now',products_path, class: "btn btn-warning") %></br></div>
  </li>

 <li class="clearfix visible-sm-block"></li>

<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
     <img class="img-responsive" <%= image_tag "vacum.jpeg" %>
       <div class="text">sony vacum cleaner<br><b>price:10000 PKR</b></br><br><%= link_to('Bid now',products_path, class: "btn btn-warning") %></br> </div>
   </li>


        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
        <img class="img-responsive" <%= image_tag "iphone1.jpeg" %>
       <div class="text">iphone 6 in good condition at very effortable price<br><b>price:50000 PKR</b></br> <br><%= link_to('Bid now',products_path, class: "btn btn-warning") %></br></div>
   </li>



 <li class="clearfix visible-lg-block  visible-md-block visible-xs-block"></li>

        <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
       <img class="img-responsive" <%= image_tag "lpy.jpeg" %>
       <div class="text">brand new samsung laptop<br><b>price:30000PKR </b></br><br><%= link_to('Bid now',products_path, class: "btn btn-warning") %></br> </div>
   </li>
         <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
       <img class="img-responsive" <%= image_tag "zip1.jpg" %>
      <div class="text">all in one pack<br><b>price:5000 PKR</b></br><br><%= link_to('Bid now',products_path, class: "btn btn-warning") %></br></div>
  </li>

 <li class="clearfix visible-sm-block"></li>


     <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
      <img class="img-responsive" <%= image_tag "bags.jpeg" %>
      <div class="text">branded bages <br><b>price:1000 PKR<%= link_to('Bid now',products_path, class: "btn btn-warning") %></br></div>
  </li>

 <li class="clearfix visible-xs-block"></li>


 <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
 <img class="img-responsive" <%= image_tag "sandwitch.jpeg" %>
            <div class="text">haier sandwitch maker<br><b>price:1000 PKR</b></br><br><%= link_to('Bid now',products_path, class: "btn btn-warning") %></br></div>
   </li>
 <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
  <img class="img-responsive" <%= image_tag "hd.jpeg" %>
       <div class="text">lv black bag with golden pattern<br><br>price:1500 PKR </b></br><br><%= link_to('Bid now',products_path, class: "btn btn-warning") %></br></div>
  </li>
 <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
  <img class="img-responsive" <%= image_tag "coffeem.jpeg" %>
       <div class="text">black and silver coffee maker with free cofee mug<br><b>price:3000 PKR<b></br><br><%= link_to('Bid now',products_path, class: "btn btn-warning") %></br></div>
  </li>

 <li class="clearfix visible-lg-block  visible-md-block visible-sm-block visible-xs-block"></li>

 <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
 <img class="img-responsive" <%= image_tag "headphones.jpg" %>
      <div class="text"><b>price:1500 PKR<b><br><%= link_to('Bid now',products_path, class: "btn btn-warning") %></br> </div>
  </li>
 <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
  <img class="img-responsive"<%= image_tag "15.jpg" %>/>
       <div class="text">goggles,compact and lipstick multiple pack<br><b>price:1000 PKR<b></br><br><%= link_to('Bid now',products_path, class: "btn btn-warning") %></br> </div>
  </li>
 <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
<img class="img-responsive" <%= image_tag "psp.jpeg" %>
       <div class="text">psp with six months warrenty in good condition<br><b>price:1500 PKR<b></br><br><%= link_to('Bid now',products_path, class: "btn btn-warning") %></br></div>
  </li>

 <li class="clearfix visible-xs-block"></li>

 <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
<img class="img-responsive" <%= image_tag "digitalw.jpeg" %>
       <div class="text">digital watches in four excitting colors at very affortable price.<br><b>price:3000 PKR each</b></br><br><%= link_to('Bid now',products_path, class: "btn btn-warning") %></br></div>
 </li>

 <li class="clearfix visible-sm-block"></li>


 <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
 <img class="img-responsive"<%= image_tag "top.jpeg" %>
       <div class="text">maria.b two tops in black and mehroon color<br><b>price:4000 PKR</b></br><br><%= link_to('Bid now',products_path, class: "btn btn-warning") %></br> </div>
 </li>
 <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
<img class="img-responsive" <%= image_tag "images.jpeg" %>
       <div class="text">daimond bridal neckless by tansh<br>price:10000 PKR</br><br><%= link_to('Bid now',products_path, class: "btn btn-warning") %></br></div>
 </li>
 <li class="clearfix visible-lg-block  visible-md-block visible-xs-block"></li>
</ul>
</div>
   </ul>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>

</footer>
<script src='//railsgirls.com/assets/bootstrap.js'></script>
</html>
