<body>
 <%= image_tag("stuff.jpeg", :alt => "Sample App", :class => "round",:width =>"400",:height=> "200", :align=>"right",class:"blink_me") %>
<br>
<br>
<h1><% if @products.empty? %>
  <span>Sorry,You haven't registered any product yet. </span>
</h1>
<% else %>
<h1>My Products </h1>
<% @user.products.each do |product| %>
  <strong><h2> <%= time_ago_in_words(product.created_at) %> ago .
  <%= product.name %>   .   <%= product.selling_price %> PKR  .  <%= link_to 'Edit', edit_product_path(product),class: "btn btn-info btn-xs" %>||<%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-info btn-xs" %><br></h2></strong><br>
        <h5>Your Product's Bids:</h5><br>
       <%= render product.bids %><br>
<br>
<br>
<% end %>
  <% end %>


<h1><% if @bids.empty? %>
  <span>Sorry,You haven't registered any bid yet. </span>
</h1>
<% else %>
    <h1>My Bids!! </h1>
   <% @user.bids.each do |bid| %>
     <strong><h2><%= time_ago_in_words(bid.created_at) %> ago.
    <%= bid.product.name %> .
    <%= bid.bidding_price %> PKR
<%= link_to 'See',products_path(@bid),class: "btn btn-warning btn-xs" %>||<%= link_to 'Destroy', [bid.product, bid],
               method: :delete,
               data: { confirm: 'Are you sure?' } ,class: "btn btn-warning btn-xs" %><br></h2></strong>
<%   end %>
<% end %>
