<body>
 <%= image_tag("cart.png", :alt => "Sample App", :class => "round",:width =>"400",:height=> "400", :align=>"right" ,class:"blink_me" ) %>
<ul>
<br>
<strong><h1><span style="text-decoration: underline;" "align: center;><h1>Hi !! "<%= current_user.name %> " Here's Your Cart</h1></strong>
<h3> *You Have Currently <%= @cart.cart_items.count %> items in Your Cart* </h3>

<% @cart.cart_items.each do|item|%>
<h2><li>  . <%= item.product.name%>  <%= item.total_price %> PKR </li></h2>


<%= link_to "Remove Item", item, :method => :delete, :confirm => "Are you sure?",class: "btn btn-danger
  btn-xs" %>

<%end %>
 </ul>

  <h2> <tr class="total_line">

    <td colspan="2">Total = </td>

    <td class="total_cell"><%=@cart.total_price %> PKR </td>

  </tr>
  </h2>
 <br>
 <br>

  <%= button_to 'Empty cart!!', @cart, :method => :delete,    :confirm => 'Are you sure?', :align=>"center" ,class: "btn btn-info
  btn-lg" %>

   </body>
