            <h2><p align="center">
            <h2>Registered Stuff!! <br>

                      Choose your Interested one ,Buy or Bid on it!</h2>

     <%= image_tag("lolo.jpg", :alt => "Sample App", :class => "round",:width =>"800",:height=> "200",:align => "center") %></p></h2>
     <br>

<% @product_attachments.in_groups_of(3, false).each do |group| %>

	<div class="row">

       <% group.each do |product_attachment| %>

       <div class="col-md-4">

       <div class="thumbnail">

         <div class="caption">

        <%= image_tag product_attachment.avatar_url(:thumb) if product_attachment.avatar? %><br>

                  <%= link_to('See more Detail',products_path, class: "btn btn-info") %> <br>


                                             </div>

                        </div>

                        </div>
                        <% end %>
                       </div>

                      <%end %>
