<body>
 <%= image_tag("wl.png", :alt => "Sample App", :class => "round",:width =>"800",:height=> "200", :align=>"center" ,class:"blink_me") %>
<ul>
<br>
<strong><h1><span style="text-decoration: underline;" "align: center;><h1>Hi !! "<%= current_user.name %> " Your Wishlist</h1></strong>
<h3> *You Have Currently <%= @wishlist.wish_items.count %> items in Your Wishlist Waiting to Be Yours* </h3>

<% @wishlist.wish_items.each do|item|%>
<h2><li>  . <%= item.product.name%>
<%= link_to "Remove Item", item, :method => :delete, :confirm => "Are you sure?",class: "btn btn-primary
  btn-xs" %></li></h2>
<%end %>
 </ul>
 <br>
 <br>

 <%= button_to 'Clear Your Wishlist!!', @wish, :method => :delete,    :confirm => 'Are you sure?', :align=>"center" ,class: "btn btn-danger
  btn-lg" %>

   </body>
