<div class="col-md-18" >
<div class="col-md-8 col-md-offset-4" >
<h2>Register Your Product!!</h2>
  <%= form_for(@product, :html => { :multipart => true }) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation" >
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h4>
<div class="field">
<%= f.fields_for :product_attachments do |p|%>
<%= p.label :Images%>:
<%= p.file_field :avatar, :multiple => true, name: "product_attachments[avatar][]" %>
   <% end %>
</div>
</h4>
<h4>
       <div class="field">
       <%= f.label :name %>:
       <%= f.text_field :name %>
       </div>
       </h4>
       <h4>
      <div class="field">
    <%= f.label :description %>:
    <%= f.text_area :description %>
      </div>
      </h4>

      <h4>
        <div class="field">
    <%= f.label :initial_price %>:
    <%= f.number_field :initial_price %>
</div>
</h4>
<h4>
<div class="field">
    <%= f.label :selling_price %>:
     <%= f. number_field :selling_price %>
 </div>
 </h4>
<div class="field">
    <h4><%= f.label :Bid_opening_date %>:</h4>
     <%= f.date_select :opening_date, order: [:day, :month, :year] %>
    </div>
    <div class="field">
    <h4><%= f.label :Bid_closing_date %>:</h4>
     <%= f.date_select :closing_date, order: [:day, :month, :year] %>
    </div>
     <h4>
  <div class="field">
    <%= f.label :category_id %>:<br>
     <%= f.collection_select :category_id, Category.order(:name), :id, :name, {} %>
  </div>
  </h4>
  <h4>
  <div class="field">
    <%= f.label :subcategory_id %>:<br>
     <%= f.grouped_collection_select :subcategory_id, Category.order(:name),
            :subcategories, :name, :id, :name, {} %>
  </div>
  </h4>
  <h4>
  <div class="field">
   <%=	f.label	:wait_for_closing_date, "Wait for the closing date" %>:
	<%=	f.check_box	:wait_for_closing_date 	%>
	<br>
	<%=	f.label	:product_available, "Product Available" %>:
	<%=	f.check_box	:product_available 	%>
	</h4>
	</div>
	</div>
	</div>
  <div class="col-md-18">
<div class="col-md-8 col-md-offset-4">
<div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
  </div>
  </div>
