<h1>Registered Products!! </h1>

<p align="center"><b> Choose your Interested one ,Buy or Bid on it!<b></p>
 <p align="center">
     <%= image_tag("zoom.jpg", :alt => "Sample App", :class => "round",:width =>"800",:height=> "200", :align=>"center" ) %></p>
     <br>

<% @products.in_groups_of(3, false).each do |group| %>

	<div class="row">

       <% group.each do |product| %>

       <div class="col-md-4">

       <div class="thumbnail">


<h2><b><span style="text-decoration: underline;" "align: center;"><%= product.name %></b></h2><br>

         <%= image_tag product.product_attachments.first.try(:avatar_url),:width =>"200",:height=> "200", :align=>"center"  %><br>

         <div class="caption">



                 <strong>Description : <%= product.description %></strong> <br>

                 <strong>Initial Price:  <%= product.initial_price %> Rs</strong> <br>
                 
                  <strong>Selling Price : <%= product.selling_price %> Rs</strong> <br>


                  <%= link_to('Bid/Buy', product, class: "btn btn-default") %><br>


                                             </div>

                        </div>

                        </div>
                        <% end %>
                       </div>

                      <%end %>
