<div class="image-container1">
<% @product_attachments.each do |p| %>
  <%= image_tag p.avatar_url (:thumb)%>
<% end %>
  <br>
  <br>
  <%= button_to 'Add this Product to Your Cart!!',cart_items_path(product_id: @product),class: "btn btn-success
  btn-lg"%>
  <br>
  <br>
  Rate this Product: <%= rating_for @product, "speed", :cancel => true , data: { no_turbolink: true } %>
  <br>
  <br>
  <%= button_to 'Add this Product to Your Wishlist!!',wish_items_path(product_id: @product),class: "btn btn-warning
  btn-lg"%>
</div>

<h1>
<strong> <span style="text-decoration: underline;">
      <%= @product.name %></strong><br>
 </h1>
<h4>
<br>
  <strong>Description:</strong>
  <%= @product.description %>
<br>
<br>
  <strong>Seller:</strong>
  <%= @product.user.name %>
<br>
<br>
  <strong>Subcategory:</strong>
   <%= @product.subcategory.name %>
   <br>
   <br>
  <strong>Initial price:</strong>
  <%= @product.initial_price %> PKR
  <br>
  <br>
   <strong>Bid Closing date:</strong>
  <%= @product.closing_date %>
<br>
<br></h4>
<h3><strong>
   <strong>Selling price:</strong>
   <%= @product.selling_price %> PKR
</strong></h3>

<div class="col-md-18">
<div class="col-md-8 col-md-offset-4">

<h3><span style="text-decoration: underline;" "align: center;><strong> Running price:-</span></strong> <% @bprice = Bid.group('product_id').maximum(:bidding_price)[@product.id] %> <% if @bprice %><%= @bprice %> PKR <% else %><%= @product.initial_price %> PKR<% end %>
<br>
<br>
 <%= link_to "Start Bidding!!", "#", id: "bids-link",class: "btn btn-info btn-lg" %> </h3>

<section id="bids-section">
<ol id="bids">
<%= render @product.bids %>
</ol>
<h3>Add Your Bid Please !!:</h3>
<%= form_for([@product, @product.bids.build], remote: true) do |f| %>
  <h4>
        <div class="field">
    <%= f.label :bidding_price %>:<br>
    <%= f.number_field :bidding_price %>
  </div>
  </h4>
  <p>
    <%= f.submit %>
  </p>
  <% end %>
  </section>
</div>
</div>
<br>
<br>
<br>
<br>
<div class="footer">
<h6>Note**Bid Cant Be Created After Closing Date And Seller Cant Bid Over its Own Product...Enjoy !!</h6></div>
