<nav class="navbar-default navbar-fixed-top" >
  <div class="container">
    <div class="navbar-header">
    <IMG STYLE="position:absolute; TOP:0px; left:1px; WIDTH:55px; HEIGHT:60px"<%= image_tag "logo.png" %>
      <a class="navbar-brand" href="#">Ebiz</a>
    </div>

    <!-- Drop down menu -->
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Home", :root %></li>
        <li><%= link_to 'Cart', cart_path(current_cart) %> </li>
        <li><%= link_to 'Wishlist', wishlist_path(current_wishlist) %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">Products
              <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to'Checkout Registered Products',products_path %></li>
            <li><%= link_to'Search Through Images',product_attachments_path %></li>
            <li><%= link_to 'Register Your Product', new_product_path %></li>
          </ul>
        </li>
        <% if user_signed_in? %>
        <li class = "round-image-50""> <%= image_tag(current_user.avatar.url(:thumb)) %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">Hi <%= current_user.name %>
         <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "View Profile", current_user %></li>
            <li><%= link_to "Edit Profile",edit_user_registration_path %></li>
            <li><%= link_to "My Stuff",pages_zip_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %>
        </ul>
        </li>
        <% else %>
<div class="btn-group-vertical">
     <b><%= link_to "Login", new_user_session_path, class:"btn btn-link btn-xs" %><br>
     <b><%= link_to "New User", new_user_registration_path, class: "btn btn-link btn-xs" %></div>
   <% end %>
     </div>

<!-- The search form -->

        <%= form_tag(products_path, :method => "get", class: "pull-left", id: "search-form") do %>
      <div class="keep-on-line">

      <div class="control-group">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Products" %>
      </div>

      <div class="control-group">
        <%= grouped_collection_select(:product, :subcategory_id, Category.all, :subcategories,
                                      :name, :id, :name,{prompt: "Select"},{class: "form-control"}) %>
      </div>
       <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
     <% end %>
    </div><!--/.navbar-collapse -->
  </div>
  </nav>
