<!DOCTYPE html>
<html>
<head>
  <title>Ebiz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
<br>
  <!-- Body of the text -->
  <div class="col-sm-15 col-md-15">
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
   <% end %>
    <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
   <% end %>
   <div class="well">
   <div style="text-align: center" class="blink_me"> <img src= "<%= asset_path ('combo.jpg') %>" width="250" /></div>
            <div class="container">
    <%= yield %>
    </div>
</div>
</div>
<br>
  <footer class="footer">
  <div class="container">
    <p align="center">Rails Ebiz Apps © 2015

    <br>
      <%= link_to "Home",root_path %> · <%= link_to "Blog",pages_blog_path %> ·<%= link_to" About",pages_about_path %> · <%= link_to "Faq",pages_faq_path %> · <%= link_to "Contact",pages_contact_path %>
      <br>

    <%= social_share_button_tag(@product,  :popup => "true",:url => "http://facebook.com/fypfinal") %>
                              </p>
       </div>
  <footer class="footer">

</body>
</html>
