<div class="col-md-18">
<div class="col-md-8 col-md-offset-4">

<h2><b>Edit Your Profile..<%= resource_name.to_s.humanize %></b></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>
  <h4>
  <div class="field">
            <%= f.label :avatar, class: 'col-sm-2 control-label'  %>:<br/>
            <%= f.file_field :avatar %>
        </div>
    </h4>
  <h4>
  <div class="field">
  <%= f.label :name %>:<br/>
  <%= f.text_field :name, autofocus: true %>
  </div>
  </h4>
  <h4>
  <div class="field">
  <%= f.label :cnic_no %>:<br/>
  <%= f.number_field :cnic_no, autofocus: true %>
  </div>
  </h4>
  <h4>
  <div class="field">
  <%= f.label :contact_no %>:<br/>
  <%= f.number_field :contact_no, autofocus: true %>
  </div>
  </h4>
  <h4>
  </h4>

<h4>
  <div class="field">
    <%= f.label :email %>:<br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  </h4>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

<h4>
  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
</h4>
<h4>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
</h4>

<h4>
  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
  </h4>

  <h4>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
  </h4>
<% end %>
Cancel my account

<h4><p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p></h4>

<%= link_to "Back", :back %>
</div>
</div>
