<div class="col-md-18">
<div class="col-md-8 col-md-offset-4">

<h2><b>Register Yourself!!<b></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= devise_error_messages!%>
  <h4>
  <div class="field">
  <%= f.label :name %>:<br/>
  <%= f.text_field :name, autofocus: true %>
  </div>
  </h4>
  <h4>
  <div class="field">
    <%= f.label :email %>:<br />
    <%= f.email_field :email %>
  </div>
  </h4>
  <h4>
   <div class="field">
    <%= f.label :password %>:
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  </h4>

<h4>
  <div class="field">
    <%= f.label :password_confirmation %>:<br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  </h4>
  <h4>
  <div class="field">
  <%= f.label :cnic_no %>:<br/>
  <%= f.number_field :cnic_no %>
  </div>
  </h4>
  <h4>
  <div class="field">
  <%= f.label :contact_no %>:<br/>
  <%= f.number_field :contact_no %>
  </div>
  </h4>
  <h4>
  <div class="field">
    <%= f.label :country_id %><br>
    <%= f.collection_select(:country_id, Country.all, :id, :name) %>
  </div>
  </h4>
  <h4>
  <div class="field">
    <%= f.label :city_id %><br>
    <%= f.grouped_collection_select(:city_id, Country.order(:name), :cities, :name, :id, :name) %>
  </div>
  </h4>
  <h4>
  <div class="field">
  <%= f.label :address %>:<br/>
  <%= f.text_field :address %>
  </div>
  </h4>

<h4>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
  </h4>
<% end %>

<h4><%= render "users/shared/links" %></h4>
</div>
</div>
